@inherits LayoutComponentBase
<div class="bg-info text-white p-2">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<span class="navbar-brand ml-2">NOI THAT STORE Administration</span>
			</div>
			<div class="col-2 text-right">
				<a class="btn btn-sm btn-primary" href="/account/logout">Log out</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row p-2">
		<div class="col-3">
			<div class="d-grid gap-1">
				<NavLink class="btn btn-outline-primary"
						 href="/admin/sanphams"
						 ActiveClass="btn-primary text-white"
						 Match="NavLinkMatch.Prefix">
					DS San Pham
				</NavLink>
				<NavLink class="btn btn-outline-primary"
						 href="/admin/orders"
						 ActiveClass="btn-primary text-white"
						 Match="NavLinkMatch.Prefix">
					Orders
				</NavLink>
				<NavLink class="btn btn-outline-primary"
						 href="/admin/DsAdmins"
						 ActiveClass="btn-primary text-white"
						 Match="NavLinkMatch.Prefix">
					Admins
				</NavLink>
				<NavLink class="btn btn-outline-primary"
						 href="/admin/HoaDons"
						 ActiveClass="btn-primary text-white"
						 Match="NavLinkMatch.Prefix">
					HoaDon
				</NavLink>
				<NavLink class="btn btn-outline-primary"
						 href="/admin/HoaDonCTs"
						 ActiveClass="btn-primary text-white"
						 Match="NavLinkMatch.Prefix">
					HoaDonCT
				</NavLink>
				<NavLink class="btn btn-outline-primary"
						 href="/admin/KhachHangs"
						 ActiveClass="btn-primary text-white"
						 Match="NavLinkMatch.Prefix">
					KhachHang
				</NavLink>
				<NavLink class="btn btn-outline-primary"
						 href="/admin/NhaCungCaps"
						 ActiveClass="btn-primary text-white"
						 Match="NavLinkMatch.Prefix">
					NhaCungCap
				</NavLink>
			</div>
		</div>
		<div class="col">
			@Body
		</div>
	</div>
</div>
